@import url(http://weloveiconfonts.com/api/?family=entypo);
*{
	margin:0px;
	padding:0px;
	font-family: Comfortaa;
	-ms-font-family: Comfortaa;
	-webkit-font-family: Comfortaa;
}

a{
	text-decoration:none;
	color:#E8E8E8;
	-ms-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	top:0px;
}
a:hover{
	top:7px;
	color:#ffb882;
	-ms-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all  0.3s ease;
	transition: all 0.3s ease;
}

.TextTopMenu{
	float: left;
	position:relative;
	top:5px;
	margin-right:10px;
}

#SizePage{
	width:1920px;
}

header{
	width: 100%;
	height: 70px;
	background-color: #E65100;
	border-bottom-style:solid;
	border-bottom-width: 2px;
	border-bottom-color: #D5D5D5;
}

.TopMenu{
	position:absolute;
	left:375px;
	width: 500px;
	height: 50px;
	top:22px;

}

#TopText{
	float:left;
	color:#E8E8E8;
	position: relative;
	margin-top: 5px;
	margin-left:10px;
	padding: 0px;
}

#MidleContent{

	margin-top:20px;

	box-shadow: 0 0 2px;

	width: 100%;
	height: 500px;
	background-color:#EFEFEF;
	background-image: url("http://i.wp-b.com/media/2015-10-23/X9BAQWpFXA.jpg");
	background-position: center;
}

#ContentPanel{
	
	margin-left:0.5%;
	margin-right:0.5%;
	margin-top:5;
	margin-bottom: 10px;
	width: 929px;
	height: 600px;
	background-color:#EFEFEF;
	background-position: center;

	box-shadow: 0 0 2px;

}

#CenterContent{
	position: relative;
	z-index: 1;
	top:100px;
	width: 1000px;
	height: 300px;
	border: solid 10px #fff5e3;
}

#CenterText{
	position: relative;
	top : 120px;
	font-size: 5em;
	color:#fff5e3;
}

#MidleContent : hover{
	border-bottom-width:5px;
	border-right-width:5px;
}


#SubTopText{
	position: relative;
	float:left;
	color:#D6D6D6;
	margin-left: 25px;
	margin-top:-12px;
}

#ContentDivTop{
	background-image: url("http://i.imgur.com/kQLCRC1.png"); 
	background-position:center;
	position: relative;
	height: 75%;
	width: 100%
	z-index: 1;
	background-color: #FFE0B2;
}
#DivBottomText{
	color:#fff;
	position:relative;
	left: 50px;
	top: -25px;
	z-index: 3;
	font-size: 2em;
	float:left;
}
#ContenDivButtom{
	z-index: 3;
	position: relative;
	height: 25%;
	background-color: #EF6C00;
	width: 100%
	box-shadow: 0 0 5px;
}

#circle{
	position: relative;
	margin:0px;
	z-index: 2;
	background-color:#FFB74D;
	top:-25px;
	left: 300px;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	box-shadow: 0 0 10px;
}

#MoreButton{
	width: 30px;
	height: 5px;
}
#MoreButton:before{
}

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
.ContentBox{

	width: 1920px;
	height: 1080px;

}

footer{
	float:left;
	width: 100%;
	height: 60px;
	background-color: #E65100;

}
#FooterText{
	position:relative;
}


@media(min-width: 1919px){
	#MidleContent{
		width:1905px; 
	}
}